BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 120
LambdaBodyIndentation: Signature
AlignAfterOpenBracket: Align
SpaceBeforeParens: ControlStatements
SortIncludes: false
